* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: white;
    min-width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.navbar ul {
    display: flex;
    justify-content: center;
    background-color: #3d4352;
    border-style: none;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin: 0;
    width: 100%;
}

.navbar a {
    display: flex;
    color: white;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    padding: 20px;
    border-style: solid;
    border-color: #b5b9c4;
    border-width: thin;
}

.navbar a:hover {
    background-color:  #787d89;
}

.first-image.jpg {
    width: 100%;
    z-index: -1;
    text-align: center;
}

.centered-text{
    color: white;
    position: absolute;
    top: 30%;
    bottom: 70%;
    left: 40%;
    font-size: 100px;
}

.centered-bottom-text {
    color: white;
    position: absolute;
    top: 45%;
    bottom: 55%;
    left: 50%;
}

.g-button {
    background-color: #008a00;
    color: white;
    border: none;
    padding: 15px 32px;
    cursor: pointer;
}

.b-button {
    background-color: #428dd8;
    color: white;
    border: none;
    padding: 15px 32px;
    cursor: pointer;
}

.r-button {
    background-color: #8f0000;
    color: white;
    border: none;
    padding: 15px 32px;
    cursor: pointer;
}

.w-button, .w-2-button, .w-3-button, .w-4-button {
    background-color: white;
    color: grey;
    border-color: grey;
    padding: 15px 32px;
    cursor: pointer;
}

.bl-button {
    background-color: black;
    color: white;
    border: none;
    padding: 15px 32px;
    cursor: pointer;
}

.card, .card-2, .card-3 {
    width: 19%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0,0.2);
    transition: 0.3s;
    background-color: lightgray;
}

.sec-img.jpg, .third-img.jpg, .four-img.jpg {
    width: 19%;
}

.card:hover, .card-2:hover, .card-3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    min-width: 100%;
}

.card-4, .card-5 {
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0,0.2);
    transition: 0.3s;
    background-color: lightgray;
}

.card-4:hover, .card-5:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 100%;
}